html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  color: #212121;
  background-color: #ffffff;
  margin: 0;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-select {
  color: #000000;
}

/* ========================  nav*/

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:hover .nav-item-link,
.nav-item:focus .nav-item-link {
  color: #2196f3;
}

.nav-item-link {
  color: #212121;
}

.nav-item.nav-item_active .nav-item-link {
  color: #2196f3;
}
.nav-item {
  list-style: none;
}

.nav-item-link {
  text-decoration: none;
  list-style: none;
}

/* ========================  adress*/
.adress {
  list-style: none;
}

.adress-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.adress-item:hover a,
.adress-item:focus a {
  color: #2196f3;
}

/* ========================  hero*/
.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 30px;
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 200px;
}
.hero-button {
  background-color: #2196f3;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin: 0 auto;
}

/* ========================  benefits*/
.benefits {
  padding-top: 94px;
}
.benefits-list-item {
  list-style: none;
}
.benefits-list-item-tittle {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-list-item-desc {
  color: #757575;
}

/* ========================  doing*/
.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.doing-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.doing-list {
  list-style: none;
}

/* ========================  team */
.team {
  /* background-color: #f5f4fa; */
  background-color: teal;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list-item-prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-list-item {
  list-style: none;
}

/* ====================== footer */

.footer {
  background-color: #2f303a;
}
.logo.logo_footer > .logo-select {
  color: #ffffff;
}
.contacts-adress {
  color: #ffffff;
  font-style: normal;
}
.contacts {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

/* ```````````````````` portfolio */
.filtr-list-item {
  list-style: none;
}
.filtr-list-item-butt {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}
.filtr-list-item-butt:hover,
.filtr-list-item-butt:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.example-list-item {
  list-style: none;
}

.example-list-item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.example-list-item-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-list-item-title-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
